

<div class="pt-14 w-full flex flex-col">
    <div class="fixed w-full p-4 flex justify-between bg-white shadow-sm">
        <!-- Empty h1 for spacing, if needed -->
        <h1 class="w-1/3"></h1>
        <h1 class=" w-1/3 text-center text-3xl text-slate-700 font-bold">Product Management</h1>
        <div class="w-1/3 flex justify-end items-end">
        <a class="bg-slate-800  text-white text-lg font-medium hover:bg-slate-900 rounded px-4 py-2" routerLink="AddProduct">
            <i class="bi bi-plus-circle text-xl mr-2"></i>Add Product
        </a>
    </div>
    </div>
<div class="flex p-4 mt-20">
<div class="fixed w-1/4 flex flex-col gap-2 h-full bg-blue-50 p-10 rounded-md shadow-2xl">
        <label for="category" class="text-slate-900 font-semibold" >Categories</label>
        <select name="category" id="category" [(ngModel)]="categoryId" class="outline-1 focus:outline-2 outline outline-slate-600 rounded p-0.5  text-slate-700">
            <option value="">Select Category</option>
            <option *ngFor="let category of categoryList" value="{{category.categoryId}}">{{category.categoryName}}</option>
        </select>
    
        <label for="brand" class="text-slate-800 text-base font-semibold">Brands</label>
        <select name="brand" id="brand" [(ngModel)]="brandId" class="outline-1 focus:outline-2 outline outline-slate-600 rounded p-0.5 text-slate-700">
            <option value="">Select Brand</option>
            <option *ngFor="let brand of brandList" value="{{brand.brandId}}">{{brand.brandName}}</option>
        </select>
        <label for="gender" class="text-slate-800 font-semibold">For</label>
        <select name="brand" id="brand" [(ngModel)]="gender" class="outline-1 focus:outline-2 outline outline-slate-600 rounded p-0.5 text-slate-700">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Unisex">Unisex</option>
        </select>
        <div class="flex flex-col">
        <p class="text-slate-800 font-semibold" >Price</p>
        <button (click)="maxPrice = 299; ApplyFilters()" class="text-start text-sm text-slate-700 rounded hover:text-slate-900 hover:font-medium ease-in duration-50">Upto 299</button>
        <button (click)="maxPrice = 499; ApplyFilters()" class="text-start text-sm text-slate-700 rounded hover:text-slate-900 hover:font-medium ease-in duration-50">Upto 499</button>
        <button (click)="maxPrice = 999; ApplyFilters()" class="text-start text-sm text-slate-700 rounded hover:text-slate-900 hover:font-medium ease-in duration-50">Upto 999</button>
    </div>
  
    <div class="flex justify-between w-full">
        <div class="flex flex-col w-5/12">
            <label for="min">Min</label>
            <input class="outline-1 focus:outline-2 outline outline-slate-600 rounded p-0.5 text-slate-700" type="number" name="min" id="min" [(ngModel)]="minPrice">
        </div>
        <div class="flex flex-col w-5/12">
            <label for="max">Max</label>
            <input class="outline-1 focus:outline-2 outline outline-slate-600 rounded p-0.5 text-slate-700" type="number" name="max" id="max" [(ngModel)]="maxPrice">
        </div>
    </div>
        <button (click)="ApplyFilters()"class="px-1 py-1 w-full text-sm text-white transition-opacity ease-in-out duration-150 bg-slate-700 hover:bg-slate-900 rounded font-medium"><i class="bi bi-funnel-fill"></i> Apply Filters</button>
        <button (click)="Reset()"class="px-1 py-1 w-full text-sm text-white transition-opacity ease-in-out duration-150 bg-red-700 hover:bg-red-800 rounded font-medium"><i class="bi bi-arrow-counterclockwise"></i> Reset</button>
</div>
<div class="w-3/4 bg-blue-50 flex flex-col gap-4 ml p-4 rounded-md" style="margin-left: 26%;">
    <ng-container *ngFor="let item of products ">
    <div *ngIf="products  && !isLoading" class="w-full flex justify-between p-2 bg-white rounded-md">
        <div class="w-3/4 flex flex-col gap-1 shadow-sm">
            <div class="flex items-end">
            <span class="mr-2 text-lg font-medium text-slate-800">Product Name:</span>
             <h3 class="text-base font-medium text-slate-700">{{ item.productName | titlecase}}</h3>
        </div>
        <div class="flex items-end">
            <span class="mr-2 text-lg font-medium text-slate-800">Price:</span>
             <h3 class="text-base font-medium text-slate-700">{{ item.price}}</h3>
        </div>
        <div class="flex items-end">
            <span class="mr-2 text-lg font-medium text-slate-800">Stock Quantity:</span>
             <h3 class="text-base font-medium text-slate-700">{{ item.stockQuantity}}</h3>
        </div>
        <div class="flex items-end">
            <span class="mr-2 text-lg font-medium text-slate-800">Target Gender:</span>
             <h3 class="text-base font-medium text-slate-700">{{ item.targetGender | titlecase}}</h3>
        </div>
        <div class="flex items-end">
            <span class="mr-2 text-lg font-medium text-slate-800">Category Name:</span>
             <h3 class="text-base font-medium text-slate-700">{{ item.categoryName | titlecase}}</h3>
        </div>
        <div class="flex items-end">
            <span class="mr-2 text-lg font-medium text-slate-800">Brand Name:</span>
             <h3 class="text-base font-medium text-slate-700">{{ item.brandName | titlecase}}</h3>
        </div>
        <div class="flex justify-start gap-4 items-center ">
            <button (click)="editProduct(item.productId)" class="bg-green-700 py-1 px-4 rounded text-lg text-white font-medium hover:bg-green-800" href="">Edit</button>
            <button type="button" (click)="SavingProductId(item.productId)" class="bg-red-700 py-1 px-4 rounded text-lg text-white font-medium hover:bg-red-800" (click)="openDeleteModal()" >Delete</button>
        </div>
        </div>
    <div  *ngIf="this.products ">
        <img src="{{environment}}{{item.imagePath}}" alt="" class="rounded-sm" style="width: 100%; height: auto; max-height: 200px; object-fit: contain;">
    </div>
</div>
<hr class="my-4 h-0.5 bg-slate-300 ">
</ng-container>
<div class="w-full flex justify-center items-center">
<div *ngIf="this.isLoading" class="border-4 h-5 w-5 mr-3 ml-3 animate-spin bg-transparent border-l-red-600 border-y-white border-r-black rounded-full"></div>
</div>
</div>
</div>

<div (click)="closeDeleteModal()" class="bg-black bg-opacity-20  overflow-y-auto
 overflow-x-hidden flex fixed top-0 right-0 left-0 -z-50 justify-center
  items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  [ngClass]="{'opacity-100':showDeleteModal ,'z-10':showDeleteModal ,'opacity-0':!showDeleteModal,'-z-50':!showDeleteModal}">
    <div (click)="$event.stopPropagation()" class="z-50 w-1/4 flex ease-in-out duration-300 shadow-lg"
    [ngClass]="{'opacity-0':!showDeleteModal ,'opacity-100':showDeleteModal}">
        <div class="w-full h-5/6 flex flex-col gap-2 bg-slate-100 p-8 rounded-md shadow-2xl">
            <h1 class="text-3xl mb-4 text-center text-slate-800 font-bold">
                Are you sure you want to delete this Product?
            </h1>
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button (click)="deleteProduct()" [disabled]="isLoading" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none
                 focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">Yes, I'm sure</button>
                 <div *ngIf="this.isLoading" class="border-4 h-5 w-5 mr-3 ml-3 animate-spin bg-transparent border-l-red-600 border-y-white border-r-black rounded-full">
                </div>
                <div *ngIf="this.isLoading" class="text-slate-700 text-xl ml-3 font-medium">Deleting...</div>
                <button *ngIf="!this.isLoading" (click)="closeDeleteModal()" type="button"class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg
                 border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
            </div>
        </div>
    </div>
</div>
<app-response-modal [show]="isResponseModalVisible" 
                    [message]="responseMessage" 
                    [responseClass]="isSuccess ? 'text-lg md:text-3xl font-bold text-green-700' : 'text-lg md:text-3xl font-bold text-red-700'">
                </app-response-modal>
</div>
<div *ngIf="isLoading" class="w-full opacity-100 h-full top-0 left-0 fixed z-50 bg-white flex justify-center items-center gap-2">
        <div *ngIf="this.isLoading" class="border-4 h-10 w-10 mr-3 ml-3 animate-spin border-l-red-600 border-y-white border-r-black rounded-full">
</div>


