<div class="pt-14 w-full flex flex-col">
<div class="p-4">
    <h1 class="text-center text-3xl text-slate-700 font-semibold">Product Management</h1>
</div>
<div class="flex p-4">
<div class="w-1/4 bg-red-100 flex flex-col gap-2">
    <div class="flex items-center">
    <label class="text-slate-700 font-semibold mr-1" for="">Price Range</label>
    <input type="range" name="" id="">
    </div>
    <div class="flex">
        <label class="text-slate-700 font-semibold mr-1" for="">Brand</label>
        <select name="" id="">
            <option value="">Select Brand</option>
        </select>
        </div>
        <div class="flex">
            <label class="text-slate-700 font-semibold mr-1" for="">Categories</label>
            <select name="" id="">
                <option value="">Select Category</option>
            </select>
            </div>
</div>
<div class="w-3/4 bg-blue-100 flex flex-col gap-4">
    <ng-container *ngFor="let item of productList">
    <div *ngIf="this.productList" class="w-full flex justify-between">
        <div class="w-3/4 flex flex-col">
            <h3 class="text-base font-medium">{{item.productName}}</h3>
            <h3 class="text-base font-medium">{{item.productDescription}}</h3>
            <h3 class="text-base font-medium">{{item.price}}</h3>
            <h3 class="text-base font-medium">{{item.stockQuantity}}</h3>
            <h3 class="text-base font-medium">{{item.brandName}}</h3>
        </div>
    <div  *ngIf="this.productList">
        <img src="https://localhost:7248/{{item.imagePath}}" alt="">
    </div>
    
</div>
<h1>------------------------------------</h1>
</ng-container>

</div>
</div>
</div>
