<nav class="fixed bg-white w-full h-16 md:flex md:justify-between md:items-center px-5">
    <div class="flex">
        <img src="assets/images/logo.svg" alt="">
        <p class="text-2xl font-bold">Elliye</p>
    </div>
    <ul class="flex gap-16 justify-between items-center">
        <a href="" class="font-semibold text-xl text-slate-700 hover:text-slate-900">Categories</a>
        <a href="" class="font-semibold text-xl text-slate-700 hover:text-slate-900">New Arrival</a>
        <a href="" class="font-semibold text-xl text-slate-700 hover:text-slate-900">Features</a>
        <a href="" class="font-semibold text-xl text-slate-700 hover:text-slate-900">Collections</a>
        
    </ul>
    <div class="flex gap-4">
        <button><i class="bi bi-cart2 text-slate-700 font-extrabold text-2xl"></i></button>
        <button><i class="bi bi-search text-slate-700 font-extrabold text-2xl"></i></button>
        <a class="bg-slate-800 rounded text-white px-4 py-2 font-semibold" routerLink="Login">Login</a>
    </div>
</nav>