<div class="flex flex-col my-4 bg-blue-50">
    <h1 class="text-8xl font-serif text-w" style="color: #393D46;">Summer Sale</h1>
    <h1 class="text-6xl font-bold" style="color: #393D46;">50% off</h1>
    <p class="my-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugit 
        exercitationem repellendus magni quasi est sequi fuga quidem enim porro.</p>
    <button class="w-100 text-white text-2xl font-semibold p-3" style="background-color: #393D46;">Shop Now <i class="bi bi-2-circle"></i></button>
</div>

<div class="my-20 flex flex-col">
    <h1 class="font-extrabold text-5xl" style="color: #393D46;">Categories</h1>
    <div class=" flex flex-col gap-4 my-4 mx-2 md:flex-row">
        <div class="flex flex-col justify-center items-center w-full bg-blue-50">
            <a href=""><img src="assets/images/img_sweater.svg" alt="" srcset=""></a>
            <p class="font-semibold text-xl text-gray-500">Jacket</p>
        </div>
        <div class="flex flex-col justify-center items-center w-full bg-blue-50">
            <a href=""><img src="assets/images/img_tshirt.svg" alt="" srcset=""></a>
            <p class="font-semibold text-xl text-gray-500">Shirt</p>
        </div>
        <div class="flex flex-col justify-center items-center w-full bg-blue-50">
            <a href=""><img src="assets/images/img_pants.svg" alt="" srcset=""></a>
            <p class="font-semibold text-xl text-gray-500">Pants</p>
        </div>
        <div class="flex flex-col justify-center items-center w-full bg-blue-50">
            <a href=""><img src="assets/images/img_dress.svg" alt="" srcset=""></a>
            <p class="font-semibold text-xl text-gray-500">Dress</p>
        </div>
        <div class="flex flex-col justify-center items-center w-full bg-blue-50">
            <a href=""><img src="assets/images/img_belt.svg" alt="" srcset=""></a>
            <p class="font-semibold text-xl text-gray-500">Accesories</p>
        </div>
    </div>
</div>