<div class="px-14 pt-20 pb-14 flex flex-col mb-4 bg-gradient-to-t from-blue-50 via-blue-50 to-white">
    <h1 class="text-8xl font-serif text-w" style="color: #393D46;">Summer Sale</h1>
    <h1 class="text-6xl font-bold" style="color: #393D46;">50% off</h1>
    <p class="my-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugit 
        exercitationem repellendus magni quasi est sequi fuga quidem enim porro.</p>
    <button class="w-100 text-white text-2xl font-semibold p-3 rounded" style="background-color: #393D46;">Shop Now <i class="bi bi-2-circle"></i></button>
</div>

<div class="my-20 flex flex-col px-14">
    <h1 class="font-bold text-5xl" style="color: #393D46;">Categories</h1>
    <div class=" flex flex-col gap-4 my-4 mx-2 md:flex-row">
        <a routerLink="/products/category/jacket" class="flex flex-col justify-center items-center w-full bg-blue-50 rounded">
            <img src="assets/images/img_sweater.svg" alt="" srcset="">
            <p class="font-semibold text-xl text-gray-500">Jacket</p>
        </a>
        <a routerLink="/products/category/shirt" class="flex flex-col justify-center items-center w-full bg-blue-50 rounded">
            <img src="assets/images/img_tshirt.svg" alt="" srcset="">
            <p class="font-semibold text-xl text-gray-500">Shirt</p>
        </a>
        <div class="flex flex-col justify-center items-center w-full bg-blue-50 rounded">
            <a href=""><img src="assets/images/img_pants.svg" alt="" srcset=""></a>
            <p class="font-semibold text-xl text-gray-500">Pants</p>
        </div>
        <div class="flex flex-col justify-center items-center w-full bg-blue-50 rounded">
            <a href=""><img src="assets/images/img_dress.svg" alt="" srcset=""></a>
            <p class="font-semibold text-xl text-gray-500">Dress</p>
        </div>
        <div class="flex flex-col justify-center items-center w-full bg-blue-50 rounded">
            <a href=""><img src="assets/images/img_belt.svg" alt="" srcset=""></a>
            <p class="font-semibold text-xl text-gray-500">Accesories</p>
        </div>
    </div>
</div>

<!-- Modal -->

<div *ngIf="welcome" class="w-full opacity-100 h-full top-0 left-0 fixed z-50 bg-white flex justify-center items-center gap-2">
<div>
    <h1 class="text-5xl text-slate-600 font-bold">Hello,<span class="text-slate-800 text-6xl':welcome"> {{userName | titlecase}}</span></h1>
    <h2 class="text-2xl text-slate-700 font-bold">Welcome to Elliye</h2>
</div>
</div>

