<div class="relative md:h-screen md:w-screen pt-14 pb-6 px-2 md:px-14">
  <div class="absolute hidden left-20 md:flex gap-2 top-20 font-medium text-lg text-slate-800">
    <a routerLink="/Home"><i class="bi bi-house-fill"></i></a>
    <p>
      <</p> <a routerLink="../">user dashboard</a>
        <p>
          <</p> <a routerLink="/userdashboard/orders" routerLinkActive="active text-sky-700">my orders</a>
  </div>
  <p class="px-10 text-3xl text-center text-slate-800 font-bold mt-10">My Orders</p>
  <div class="flex flex-col items-center gap-2 justify-center my-3">
    <ng-container *ngFor="let order of userOrders">
    <div class="w-3/4 flex flex-col gap-2 h-auto rounded-lg border border-gray-300">
      <div class="flex justify-between border-b rounded-t-lg bg-gray-200 px-2 py-1">
        <div class="flex w-1/2 justify-between items-center">
        <div class="flex flex-col">
          <p class="font-semibold">ORDER PLACED</p>
          <p>3 March 2024</p>
        </div>
        <div class="flex flex-col">
            <p class="font-semibold">Total</p>
            <p>₹{{order.totalAmount}}</p>
          </div>
          <div class="flex flex-col">
            <p class="font-semibold">Ship To</p>
            <p>Sahil Thakur</p>
          </div>
          <div class="flex flex-col">
            <p class="font-semibold">Status</p>
            <p>{{order.status}}</p>
          </div>
        </div>
        <div class="flex justify-center items-center">
            <p><span class="font-semibold">PaymentId: </span> {{order.paymentId}}</p>
          </div>
      </div>
      <div class="p-2 gap-2 flex flex-col">
        <ng-container *ngFor="let orderItem of order.orderItems">
      <div class="flex justify-between ">
        <div class="w-28 h-40 md:h-36">
            <img src="https://localhost:7248/{{orderItem.imagePath}}" alt="productImage" class="ml-auto mr-auto rounded-sm">
        </div>
        <div class=" w-2/4 flex-col flex ">
            <p class="font-medium text-slate-950">{{orderItem.brandName}}</p>
            <p class=" font-medium text-slate-950">{{orderItem.productName}}</p>
            <p class=" font-medium text-slate-950">₹{{orderItem.price}}</p>
        </div>
        <div >
            <h1 class="font-bold text-slate-900">Quantity</h1>
            <p class=" font-medium text-slate-900 text-center">{{orderItem.quantity}}</p>
        </div>
      </div>
    </ng-container>
    </div>
    </div>
</ng-container>
  </div>
  <div *ngIf="isLoading" class="w-full opacity-100 h-full top-0 left-0 fixed z-50 bg-white flex justify-center items-center gap-2">
    <div *ngIf="this.isLoading" class="border-4 h-10 w-10 mr-3 ml-3 animate-spin border-l-red-600 border-y-white border-r-black rounded-full">
</div>
</div>