<div class="pt-14 pb-10">
<h1 class="text-center text-xl md:text-start md:text-lg font-semibold px-7 pt-4">{{gender | uppercase}} {{categoryName | uppercase}}</h1>
<div class="hidden md:flex justify-between px-7 py-4">
    <p class="text-base font-bold">FILTERS</p>
    <div>
    <label for="sort" class="text-slate-700 font-semibold mr-2">Sort by:</label>
    <select name="sort" id="sort" class="outline-1 focus:outline-2 outline outline-slate-600 rounded p-0.5 text-slate-900 w-32">
        <option value="">x</option>
        <option value="">d</option>
    </select>
</div>
</div>
<hr>
<div class="flex w-full">
    <div class="hidden md:block w-1/6  gap-3 border-r pl-7 py-3">
        <div class="flex flex-col gap-2 w-11/12">
        <label for="category" class="text-slate-900 font-semibold" >Categories</label>
        <select name="category" id="category" [(ngModel)]="categoryId" class="outline-1 focus:outline-2 outline outline-slate-600 rounded p-0.5  text-slate-700">
            <option value="">Select Category</option>
            <option *ngFor="let category of categoryList" value="{{category.categoryId}}">{{category.categoryName}}</option>
        </select>
    
        <label for="brand" class="text-slate-800 font-semibold">Brands</label>
        <select name="brand" id="brand" [(ngModel)]="brandId" class="outline-1 focus:outline-2 outline outline-slate-600 rounded p-0.5 text-slate-700">
            <option value="">Select Brand</option>
            <option *ngFor="let brand of brandList" value="{{brand.brandId}}">{{brand.brandName}}</option>
        </select>
        <div class="flex flex-col">
        <p class="text-slate-800 font-semibold" >Price</p>
        <button class="text-start text-sm text-slate-700 rounded hover:text-slate-900 hover:font-medium ease-in duration-50">Under 299</button>
        <button class="text-start text-sm text-slate-700 rounded hover:text-slate-900 hover:font-medium ease-in duration-50">Under 299</button>
        <button class="text-start text-sm text-slate-700 rounded hover:text-slate-900 hover:font-medium ease-in duration-50">Under 299</button>
    </div>
    <label for="gender" class="text-slate-800 font-semibold">For</label>
        <select name="brand" id="brand" [(ngModel)]="gender" class="outline-1 focus:outline-2 outline outline-slate-600 rounded p-0.5 text-slate-700">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Unisex">Unisex</option>
        </select>
    <div class="flex w-full gap-3">
        <div class="flex flex-col w-5/12">
            <label for="min">Min</label>
            <input class="outline-1 focus:outline-2 outline outline-slate-600 rounded p-0.5 text-slate-700" type="number" name="min" id="min" [(ngModel)]="minPrice">
        </div>
        <div class="flex flex-col w-5/12">
            <label for="max">Max</label>
            <input class="outline-1 focus:outline-2 outline outline-slate-600 rounded p-0.5 text-slate-700" type="number" name="max" id="max" [(ngModel)]="maxPrice">
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <button (click)="applyFilters()" class="px-1 py-1 w-full text-sm text-white transition-opacity ease-in-out duration-150 bg-slate-700 hover:bg-slate-900 rounded font-medium"><i class="bi bi-funnel-fill"></i> Apply Filters</button>
        <button (click)="reset()" class="px-1 py-1 w-full text-sm text-white transition-opacity ease-in-out duration-150 bg-red-700 hover:bg-red-800 rounded font-medium"><i class="bi bi-arrow-counterclockwise"></i> Reset</button>
    </div>
    </div>
    </div>
    <div class="relative w-full grid-cols-2 md:w-5/6 grid md:grid-cols-4 gap-4 sm:gap-2 px-7 py-4">
        <ng-container *ngFor="let product of productList">
        <a routerLink="productdetail/{{product.productId}}" class=" h-80 w-52 relative">
           <img src="{{environment}}{{product.imagePath}}" alt="a" class="h-64 w-48 ml-auto mr-auto rounded-sm block">
           <div class="px-3">
           <h1 class="font-medium">{{product.brandName}}</h1>
           <p class="text-sm text-slate-900 text-nowrap text-ellipsis overflow-hidden">{{product.productName}}</p>
           <p class="text-sm text-slate-900 font-bold">{{product.price}}</p>
            </div>
           <!-- <div class="absolute text-xs font-semibold left-3 rounded top-60 text-center bg-white bg-opacity-50 ">3.4</div> -->
           <button (click)="addToWishlist(product.productId); $event.preventDefault(); $event.stopPropagation()" class="absolute top-1 right-4"><i class="bi bi-heart-fill text-white opacity-50 hover:opacity-100 hover:text-red-500"></i></button>
        </a>
    </ng-container>
    <div class="col-span-2 md:col-span-4 flex justify-center gap-4">
        <button *ngIf="currentPage != 1" (click)="previousPage()" class="bg-slate-800 w-28 h-10 rounded text-white font-semibold px-3 py-1"><i class="bi bi-chevron-left"></i> Previous</button>
        <button *ngIf="currentPage != totalPages" (click)="nextPage()" class="bg-slate-800 w-24 h-10 rounded text-white font-semibold px-3 py-1">Next <i class="bi bi-chevron-right"></i></button>
    </div>
    </div>
</div>
<div class="fixed flex sm:hidden items-center border-t bg-white bottom-0 h-12 w-full">
    <button class="w-1/2 h-full  text-slate-800 font-medium border-r">SORT</button>
    <button class="w-1/2 h-full border-slate-900 text-slate-800 font-medium">FILTER</button>
</div>
<app-response-modal [show]="isResponseModalVisible" 
[message]="responseMessage" 
[responseClass]="isSuccess ? 'text-lg md:text-3xl font-bold text-green-700' : 'text-lg md:text-3xl font-bold text-red-700'">
</app-response-modal>
</div>
<div *ngIf="isLoading" class="w-full opacity-100 h-full top-0 left-0 fixed z-50 bg-white flex justify-center items-center gap-2">
    <div *ngIf="this.isLoading" class="border-4 h-10 w-10 mr-3 ml-3 animate-spin border-l-red-600 border-y-white border-r-black rounded-full">
</div>
</div>