<div *ngIf="!paymentSuccess" class="relative md:h-screen md:w-screen pt-14 pb-6 px-2 md:px-14">
  <div class="absolute hidden left-20 md:flex gap-2 top-20 font-medium text-lg text-slate-800">
    <a routerLink="/Home"><i class="bi bi-house-fill"></i></a>
    <p>
      <</p> <a routerLink="../">user dashboard</a>
        <p>
          <</p> <a routerLink="/userdashboard/cart" routerLinkActive="active text-sky-700">cart</a>
  </div>
  <p class="px-10 text-3xl text-center text-slate-800 font-bold mt-10">My Cart</p>
  <div class="flex flex-col md:flex-row mt-8 md:px-8 justify-evenly">
    <div class=" grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 mb-2 gap-1 md:gap-4 w-full md:w-3/6">
      <ng-container *ngIf="!selectAddress;else addresses">
        <div *ngFor="let product of userCartList" class="w-[450px] h-40 md:w-[590px] md:h-48 flex relative ">
          <div class="w-28 h-40 md:h-36 ">
            <img src="https://localhost:7248/{{product.imagePath}}" alt="product image"
              class="ml-auto mr-auto rounded-sm">
          </div>
          <div class="w-96 h-[90px] ml-4 flex flex-col gap-1">
            <h1 class="text-slate-800 font-semibold">{{product.brandName}}</h1>
            <h1 class="text-slate-500 font-medium">{{product.productName}}</h1>
            <div class="flex gap-3 items-center">
              <p class="text-slate-900 font-semibold">Quantity:</p>
              <p class="text-slate-800 text-lg font-semibold">{{product.quantity}}</p>
              <button (click)="saveCartId(product.userCartId)" (click)="toggleQuantityModal()"
                class="px-1 py-1 w-16 text-sm text-white transition-opacity ease-in-out duration-150 bg-slate-700 hover:bg-slate-900 rounded font-medium">Change</button>
            </div>
            <h1 class="text-slate-900 font-bold">Rs.{{product.price}}</h1>
          </div>
          <button (click)="removeCartItem(product.userCartId)"
            class="absolute rounded-full w-6 h-6 text-gray-800 text-xl bg-opacity-30 hover:bg-opacity-60 hover:text-red-600 right-2 top-2"><i
              class="bi bi-x text-slate-950"></i></button>
        </div>
      </ng-container>
      <ng-template #addresses>
        <h1 class="text-gray-900 font-bold">Default Address</h1>
        <div (click)="choosenAddress(defaultAddress.userAddressId, defaultAddress)"
          class="w-[450px] h-40 md:w-[590px] md:h-36 flex flex-col rounded shadow-md p-2 hover:bg-slate-100"
          [ngClass]="{'ring-2 ring-slate-800 bg-slate-100':selectedAddress == defaultAddress}"
          >
          <h1 class="text-slate-950 font-semibold">{{defaultAddress.fullName | titlecase}}</h1>
          <p class="text-slate-800 font-semibold">{{defaultAddress.houseNumber}} {{defaultAddress.area}}
            {{defaultAddress.city}}</p>
          <p class="text-slate-800 font-semibold">{{defaultAddress.landmark | titlecase}}</p>
          <p class="text-slate-800 font-semibold">{{defaultAddress.state}} {{defaultAddress.pincode}}</p>
          <p class="text-slate-800 font-semibold">{{defaultAddress.mobileNumber}}</p>
        </div>
        <h1 class="text-gray-900 font-bold">Other Address</h1>
        <div (click)="choosenAddress(address.userAddressId, address)" *ngFor="let address of otherAddresses"
          class="w-[450px] h-40 md:w-[590px] md:h-36 flex flex-col shadow-md p-2 rounded hover:bg-slate-100"
          [ngClass]="{'ring-2 ring-slate-800 bg-slate-100':selectedAddress == address}"
          >
          <h1 class="text-slate-950 font-semibold">{{address.fullName | titlecase}}</h1>
          <p class="text-slate-800 font-semibold">{{address.houseNumber}} {{address.area}} {{address.city}}</p>
          <p class="text-slate-800 font-semibold">{{address.landmark | titlecase}}</p>
          <p class="text-slate-800 font-semibold">{{address.state}} {{address.pincode}}</p>
          <p class="text-slate-800 font-semibold">{{address.mobileNumber}}</p>
        </div>
      </ng-template>
    </div>
    <div *ngIf="userCartList.length > 0" class="w-full sm:w-full md:w-2/6 flex flex-col gap-2  ">
      <h1 class="text-slate-800 text-lg text-center md:text-left font-semibold mb-4">PRICE DETAILS <span
          class="text-slate-600">(2 Items)</span></h1>
      <div class="flex text-slate-900 font-medium justify-between">
        <p>Total MRP</p>
        <p>₹{{totalMRP}}</p>
      </div>
      <div class="flex text-slate-900 font-medium justify-between">
        <p>Platform Fee</p>
        <p>₹20</p>
      </div>
      <div class="flex text-slate-900 font-medium justify-between">
        <p>Shipping Fee</p>
        <p>₹49</p>
      </div>
      <hr class="bg-slate-500 h-px">
      <div class="flex text-slate-950 font-bold justify-between">
        <p>Total Amount</p>
        <p>₹{{totalAmount}}</p>
      </div>
      <div class="flex justify-center mt-4">
        <button *ngIf="!selectAddress" (click)="selectAddress = true"
          class="px-4 py-2 w-2/3 text-xl text-white transition-opacity ease-in-out duration-150 bg-slate-700 hover:bg-slate-900 rounded font-semibold">Choose
          Address</button>
          <button *ngIf="selectAddress" (click)="initPayment()"
          class="px-4 py-2 w-2/3 text-xl text-white transition-opacity ease-in-out duration-150 bg-slate-700 hover:bg-slate-900 rounded font-semibold">Place
          Order</button>
      </div>
    </div>
  </div>
  <div *ngIf="showQuantityModal" class="absolute top-1/3 left-1/2 -translate-x-1/2 -translate-y-1/3  w-48 h-48 bg-white p-1 flex flex-col justify-center items-center rounded shadow-md
         md:w-56">
    <h1 class="font-bold text-center text-slate-800 text-2xl">Select Quantity</h1>
    <div class="flex-wrap justify-center">
      <button (click)="updateQuantity(1)" (click)="toggleQuantityModal()"
        class="rounded-full h-12 w-12 text-lg font-semibold bg-white hover:bg-slate-300 text-slate-800">1</button>
      <button (click)="updateQuantity(2)" (click)="toggleQuantityModal()"
        class="rounded-full h-12 w-12 text-lg font-semibold bg-white hover:bg-slate-300 text-slate-800">2</button>
      <button (click)="updateQuantity(3)" (click)="toggleQuantityModal()"
        class="rounded-full h-12 w-12 text-lg font-semibold bg-white hover:bg-slate-300 text-slate-800">3</button>
      <button (click)="updateQuantity(4)" (click)="toggleQuantityModal()"
        class="rounded-full h-12 w-12 text-lg font-semibold bg-white hover:bg-slate-300 text-slate-800">4</button>
      <button (click)="updateQuantity(5)" (click)="toggleQuantityModal()"
        class="rounded-full h-12 w-12 text-lg font-semibold bg-white hover:bg-slate-300 text-slate-800">5</button>
    </div>
    <button (click)="toggleQuantityModal()"
      class="px-2 py-1 w-2/3 text-base text-white transition-opacity ease-in-out duration-150 bg-slate-700 hover:bg-slate-900 rounded font-semibold">Cancel</button>
  </div>
</div>
<div *ngIf="paymentSuccess" class="w-full opacity-100 h-full top-0 left-0 fixed z-50 bg-white flex justify-center items-center gap-2">
  <div *ngIf="paymentSuccess" class="border-4 h-10 w-10 mr-3 ml-3 animate-spin border-l-red-600 border-y-white border-r-black rounded-full">
</div>
</div>