
<label class="text-xl font-semibold" for="brandName">BrandName</label>
<input class="border-black border-2 rounded" type="text" id="brandName" name="brandName" [(ngModel)]="brandName">
<button (click)="getProductswithSpecificBrand()">GetProductlistaccordingto brand</button>
    <button type="button" (click)="getProducts()">getProducts</button>
    <div class="w-screen h-screen grid grid-cols-3 ">
        
        
    <ng-container *ngIf="products">
    <div *ngFor="let item of products">
        <img class="h-36 w-auto" src="https://localhost:7248/{{item[1].imagePath}}" alt="">
        <p class="font-semibold text-sm underline">{{item[1].brandName}}</p>
        <h1 class="text-xl font-semibold">{{item[1].productName}}</h1>
        <h3 class="text-sm">{{item[1].productDescription}}</h3>
        <p class="text-red-500">{{item[1].stockQuantity}}</p>
    </div>
    </ng-container>
</div>
