<div class="w-full pt-16 ">
    <div class="flex flex-row justify-center items-center mt-8">
        <form class="w-1/3 flex justify-center items-center mt-5">
            <div class="w-5/6 h-5/6 flex flex-col gap-2 bg-slate-100 p-10 rounded-md shadow-xl">
            <h1 class="text-4xl mb-4 text-center text-slate-800 font-bold">Login</h1>
           
            <div class="flex flex-col">
                <div class="flex gap-2 mb-1">
                <label class="text-slate-700 font-semibold" for="email">Email</label>
                <span class="text-red-600 font-semibold" *ngIf="(mail.invalid && mail.touched) || (mail.invalid && !readyForSubmission)">*Required</span>
                </div>
                <input class="p-1.5 block w-full rounded border border-gray-600" type="text" name="email" id="email" #mail="ngModel" required [(ngModel)]="email">
            </div>

            <div class="flex flex-col">
            <div class="flex gap-2 mb-1">
                <label class="text-slate-700 font-semibold" for="password">Password</label>
                <span class="text-red-600 font-semibold" *ngIf="(pass.invalid && pass.touched) || (pass.invalid && !readyForSubmission)">*Required</span>
            </div>
                <div class="flex justify-center rounded border p-0.5 border-gray-600 bg-white items-center">
                    <input class="p-1 block w-full focus:outline-none" [type]="passwordFieldType" name="password" id="password" #pass="ngModel" required [(ngModel)]="password">
                    <button (click)="togglePasswordVisibility()"><i [ngClass]="passwordViewIconClass"></i></button>
                </div>
            </div>  
            <button type="submit" (click)="onSubmit()" class="bg-slate-800 text-white px-4 py-1 rounded text-xl font-medium hover:shadow-2xl hover:bg-slate-900" [ngClass]="{'pointer-events-none opacity-80':isLoading}">Login</button>  
            <a routerLink="Register" class="bg-transparent transition duration-200 hover:ease-in-out hover:bg-indigo-950 text-center text-slate-800 font-bold px-4 py-1 rounded text-xl hover:text-white" [ngClass]="{'pointer-events-none opacity-80':isLoading}">Signup</a>        
        </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="fixed w-full z-1 bg-white p-4 rounded-lg flex justify-center ease-in-out duration-500"
    [ngClass]="{'-top-full':!isModalVisible ,'top-0':isModalVisible}">
    <h1 [ngClass]="responseClass">{{responseMessage}}</h1>
</div>