<div class="relative md:h-screen md:w-screen pt-14 pb-6 px-2 md:px-14">
    <div class="absolute hidden left-20 md:flex gap-2 top-20 font-medium text-lg text-slate-800">
      <a routerLink="/Home"><i class="bi bi-house-fill"></i></a>
      <p><</p>
      <a routerLink="../">user dashboard</a>
      <p><</p>
      <a routerLink="/userdashboard/wishlist" routerLinkActive="active text-sky-700">wishlist</a>
    </div>
    <p class="px-10 text-3xl text-center text-slate-800 font-semibold mt-10">My Wishlist</p>
    <div class="mt-8 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 w-full justify-items-center">
     <div *ngFor="let product of userWishlistItems" class="w-56 h-[426px]">
      <div class="w-full h-72 relative">
        <img src="https://localhost:7248/{{product.imagePath}}" alt="product image" class="ml-auto mr-auto rounded-sm">
        <button (click)="removeWishlistItem(product.userWishlistId)" class="absolute rounded-full w-6 h-6 text-gray-600  bg-white bg-opacity-50 hover:bg-opacity-90 right-2 top-2"><i class="bi bi-x text-black"></i></button>
      </div>
        <div class="w-full h-[90px] flex flex-col justify-center items-center   box-border border-x border-gray-300">
          <h1 class="text-slate-600 text-center font-medium overflow-hidden text-ellipsis text-nowrap w-full">{{product.brandName | uppercase}} {{product.productName | uppercase}}</h1>
          <h1 class="text-slate-900 font-bold">Rs.{{product.price}}</h1>
        </div>
          <div class="w-full h-12 flex flex-col justify-center items-center box-border border border-gray-300">
            <button (click)="addToCart(product.productId)" class="text-slate-700 font-bold w-full h-full" >MOVE TO CART</button>
          </div>
  </div>
</div>
</div>
  
